.card{
    margin: 5% 0% 0% 0%;
}
.card-title{
    color: #000000;
}
.providerName{
    text-align: left;
}

.align-apply{
    text-align: start;
}

.align-watch{
    text-align: end;
}

.card-height{
    min-height: 380px !important; 
    margin-top: 5% !important; 
}

@media only screen and (max-width: 768px){
    .card{
        margin-left: 0%;
    }
}